
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main{
  height: 100vh;
  background: linear-gradient(#21b3e1, #fff);
  overflow: hidden;
  position: relative;
}
.navbar{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #b7e7f6;
}
nav{
  width: 80%;
  margin: 20px auto 0;
  align-items: center;
  display: flex;
  text-align: center;
  position: sticky;
  z-index: 2;
}
.logo{
  flex-basis: 15%;

}
.logo img{
  width: 100px;

}
.nav-link{
  flex: 1;
  text-align: center;
}
.nav-link ul li{
  display: inline-block;
  list-style: none;
  padding: 15px 5px;
  margin: 0 25px;
  position: relative;
}
.nav-linl ul li a{
  text-decoration: none;
  color: #b7e7f6;
}
.nav-link ul li::after{
  content: '';
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-link ul li:hover:after{
  background: #fff;
}
.active::after{
  background: #fff !important;

}
.menu-icon{
  flex-basis: 15%;
}
.menu-icon img{
  width: 35px;
  float: right;


}
.gallery{
    height: 80%;
    width: 100%;
    display:  flex;
    margin: 5% auto 0;
    box-sizing: border-box;
}
.image-box{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.1s;
}


.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-box:hover{
    flex-basis: 50%;
}

.active{
    flex-basis: 50%;
}
.gallery:hover .active{
    flex-basis: 0;
}
.image-box:nth-child(1):hover{
    flex-basis: 50%;
}